*{
    margin: 0; 
    padding: 0;
}
body{
    display:flex;
    flex-direction:column;   
    place-items: center;
    background-repeat: no-repeat;
    background-color:#233448;
}
h1{
    text-align: center;
    margin: 20px 0 20px 0;
    color:white;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color:white;
}
.board{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 600px;
    border-width: 2px;
    border-style: solid;
    border-color:white;
    padding:30px;
    background-color:#18BC9C ;
    margin-top:12px;

}
.x{
    background-color:#18BC9C;
    margin:auto;
    padding:0;
    text-align: left;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#whosturn{
    margin-top: 35px;
}

ul{
    display: grid;
    place-items: center;
    
}

ul p{
    margin: 5px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: rgb(205, 205, 205);
    border-color:#233448 ;
    border-style: solid;
    border-width: 2px;
}
a{
    text-decoration: none;
}

ul:hover{
    cursor: pointer;
    background-color: rgb(43, 39, 102);
}


@media(max-width:700px){
    .board{
        width: 500px;
    }
    ul p{
        width: 55px;
        height: 55px;
        
    }
    
}
@media(max-width:520px){
    .board{
        width: 400px;
    }
    ul p{
        width: 40px;
        height: 40px;
        
    }
    
}
@media(max-width:420px){
    .board{
        width: 320px;
    }
    ul p{
        width: 30px;
        height: 30px;
        
    }

    
}
